{% extends 'base.html' %} 
{% load static %}

{% block content%}
<section class="container p-3">
    <div class="mt-2 mb-5">
        <p class="h1">BOOKING</p>
        <p class="h4 text-white text-body-secondary">the perfect party experience</p>
    </div>
    <div class="bg-light bg-opacity-25 p-3 mx-auto d-flex flex-column rounded-5 my-4" action="" method="POST">
        <p class="lead text-center text-bg-dark p-4 rounded-5 bg-opacity-75 border border-2 border-success">Get <span class="text-light fst-italic fw-lighter mx-1">Glow</span> for your special occasion</p>
        <p class="text-center my-2">Thank you for requesting Glow for your upcoming event. A member of our team with reach out to you shortly.</p>
    </div>


</section>

{% endblock %}