{% extends 'base.html' %} 
{% load static %}

{% block content%}
{% comment %} hero section, call to action to join newsletter {% endcomment %}
<section class="container-xxl p-3 d-flex align-items-center justify-content-center" style="background: url({% static 'images/hero-image-3.jpeg' %}); aspect-ratio: 16/9; background-size: cover;">
    <div class="row justify-content-center flex-fill">
        <div class="col-12 col-sm-10  col-lg-8 text-bg-light bg-opacity-25 p-3 rounded-5">
            <p class="display-6 text-center text-uppercase">Experience the vibe</p>
         
            <div class="w-75 mx-auto p-2 text-center">
             <form class="d-flex flex-column gap-2">
                {% csrf_token %}
                <p class="lead text-center text-bg-dark p-4 rounded-5 bg-opacity-75 border border-2 border-secondary">Subscribe for upcoming events</p>

                {% for field in subscription_form %}
                    <div class="form-floating text-light">
                    {{ field }}
                    {{ field.label_tag}}
                    {{ field.errors }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                    </div>
                {% endfor %}

                 {% comment %} <div class="form-floating">
                     <input type="email" name="email" class="form-control border border-dark border-2 rounded-3" id="input-email" aria-describedby="emailHelp" placeholder="enter your email"/>
                     <label for="newsletter-email" class="form-label">Email</label>
                 </div>
                 <div class="form-floating">
                    <input type="select" name="city" class="form-control border border-dark border-2 rounded-3" id="input-city" aria-describedby="cityHelp" placeholder="enter your city"/>
                    <label for="newsletter-city" class="form-label">City</label>
                </div> {% endcomment %}


                 <button type="submit" class="btn btn-dark btn-outline-secondary mt-3 rounded-pill w-50 mx-auto">Let's Party</button>
             </form>
            </div>
        </div>
    </div>
</section>

{% comment %} brand blurb section {% endcomment %}

{% comment %} Featured events section {% endcomment %}
     
{% endblock %}  