{% extends 'base.html' %} 
{% load static %}

{% block content%}
{% comment %} hero section, call to action to join newsletter {% endcomment %}
<section class="container-xxl p-3 d-flex align-items-center justify-content-center" style="background: url({% static 'images/hero-image-3.jpeg' %}); aspect-ratio: 16/9; background-size: cover;">
    <div class="row justify-content-center flex-fill">
        <div class="col-10 col-sm-8  col-lg-6 text-bg-light bg-opacity-25 p-3 rounded-5">
            <p class="display-6 text-center text-uppercase">Experience the vibe</p>
         
            <div class="w-75 mx-auto p-2 text-center ">
             <form >
                
                 <div class="">
                     <label for="newsletter-email" class="form-label">Subscribe for upcoming events </label>
                     <input type="email" name="email" class="form-control border border-3 border-light rounded" id="input-email" aria-describedby="emailHelp" placeholder="enter your email"/>
                 </div>
                 <button type="submit" class="btn btn-outline-primary mt-3 rounded-pill">Let's Party</button>
             </form>
            </div>
        </div>
    </div>
</section>

{% comment %} brand blurb section {% endcomment %}

{% comment %} Featured events section {% endcomment %}
     
{% endblock %}  