{% extends 'base.html' %} 
{% load static %}

{% block content%}

<h1>Testimonials</h1>

<section class="container p-3">
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="card text-center border-primary">
                <div class="card-header">"Washington, D.C."</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Glow made my birthday party an unforgettable night! From securing the perfect venue, NightclubU, to their impeccable service, everything was flawless. They went above and beyond to ensure a fantastic experience. Highly recommended!</p>
                        <footer class="blockquote-footer">Ayana Q.</footer>
                    </blockquote>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card text-center border-primary">
                <div class="card-header">"New York"</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Planning our company's afterwork event with Glow was effortless! They secured exclusive guest list access and free entry at NightclubV, where we received VIP treatment all night. The team's attention to detail and exceptional service exceeded our expectations.</p>
                        <footer class="blockquote-footer">Josiah M.</footer>
                    </blockquote>
                </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card text-center border-primary">
                <div class="card-header">"Las Vegas"</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Using Glow's services for a night out was incredible! Their professionalism and seamless planning allowed us to enjoy NightclubX at a prestigious hotel. No waiting, easy access, and a vibrant crowd made it a night to remember. I'll definitely be using Glow again!</p>
                        <footer class="blockquote-footer">Harvey S.</footer>
                    </blockquote>
                </div>
            </div>
          </div>

        </div>
      </div>

</section>

{% endblock %}